<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="post" th:fragment="post(post, currentUser)" >
    <p th:text="${post.dateCreated}">...</p>
    <p th:text="${post.content}">...</p>

    <div th:if="${currentUser}">
        <form th:switch="${post.isLikedBy(currentUser)}" th:action="@{~/posts/__${post.id}__/unlike}" method="POST">
            <button th:case="${true}" type="submit" class="btn btn-success">Unlike</button>
            <button th:case="${false}" type="submit" class="btn btn-success">Like</button>
        </form>
    </div>
</div>
</body>
</html>