<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('home?lang=' + selectedOption);
            }
        });
    });
</script>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<nav class="navbar navbar-inverse navbar-sticky-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FIIT-ter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home}" th:text="#{home}"></a></li>
                <li><a th:href="@{/login}" th:text="#{login}"></a></li>
                <li><a th:href="@{/users/registration}" th:text="#{register}"></a></li>

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <select class="form-control" id="locales" style="width: 100px">
                            <option value=""></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="sk" th:text="#{lang.sk}"></option>
                        </select>
                    </div>
                </form>


                <!--<li><span th:text="#{lang.change}"></span>:
                    <select id="locales">
                        <option value=""></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="fr" th:text="#{lang.fr}"></option>
                    </select>
                </li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h1 th:text="#{greeting}"></h1>
    <h2 th:text="#{description}"></h2>

</div>



</body>
</html>