<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('home?lang=' + selectedOption);
            }
        });
    });
</script>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<nav class="navbar navbar-inverse navbar-sticky-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FIIT-ter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <a class="navbar-brand" th:text="${currentUser.username}"></a>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}" th:text="#{home}"></a></li>
                <li><a th:href="@{/profiles/__${currentUser.username}__}" th:text="#{profile}"></a></li>

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <select class="form-control" id="locales" style="width: 100px">
                            <option value=""></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="fr" th:text="#{lang.sk}"></option>
                        </select>
                    </div>
                </form>


                <!--<li><span th:text="#{lang.change}"></span>:
                    <select id="locales">
                        <option value=""></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="fr" th:text="#{lang.fr}"></option>
                    </select>
                </li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2 mx-auto"></div>
        <div class="col-sm-8 mx-auto">


            <div class="media">
                <div class="media-left">
                    <i class='fas fa-user-alt' style='font-size:150px'></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading" th:text="${currentUser.username}"></h3>
                    <h4 class="media-heading" th:text="${currentUser.email}"></h4>
                </div>
            </div>


            <div class="container">
                <h1 th:text="#{feed}"></h1>
                <th:block th:each="post : ${posts}">
                    <div th:replace="fragments/common :: post(${post}, ${currentUser})"></div>
                </th:block>
            </div>

        </div>
        <div class="col-sm-2 mx-auto">
            <h2>Followed by:</h2>
            <div>
                <th:block th:each="follower : ${currentUser.followers}">
                    <h3 th:text="${follower.username}">...</h3>
                </th:block>
            </div>

        </div>

</div>
    <script>
        $(document).ready(function () {
            $(document).on('submit', 'form.post-form', function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(e.target).attr('action'),
                    type: 'post',
                    data : null,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        $(e.target).closest('div.post').replaceWith(response);
                        postForms.refresh();
                    }
                });
            });
        });
    </script>
</body>
</html>