<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
LOGIN PAGE TO BE
<span> [[${message}]]</span>
<span> [[${error}]]</span>

<form th:action="@{/users/login}" method="POST" enctype="utf8">
    <div>
        <label for="username" class="control-label" >Username</label>
        <input id="username" name="username"/>
        <!--<p th:each="error: ${#fields.errors('userName')}"
           th:text="${error}">Validation error</p>-->
    </div>
    <div>
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password"  name="password"/>
        <!--<p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>-->
    </div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    <button type="submit" class="btn btn-success">Login</button>
</form>

<a th:href="@{/users/registration}">Registration</a>

</body>
</html>