<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <title th:text="${user.username}">...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<nav class="navbar navbar-inverse navbar-sticky-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FIIT-ter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/users/registration}">Register</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div>
        <img th:src="*{'data:image/png;base64,'+qrcodecontent}"/>
    </div>
    <p th:text="${user.username}">...</p>
    <p th:text="${user.email}"></p>

    <form sec:authorize="isAuthenticated()" th:action="${action} == 'Follow' ? @{~/profiles/__${user.username}__/follow} : @{~/profiles/__${user.username}__/unfollow}" method="POST">
        <button type="submit" th:text="${action}">...</button>
    </form>

    <div>
        <th:block th:each="post : ${user.posts}">
            <div th:replace="fragments/common :: post(${post}, ${currentUser})"></div>
        </th:block>
    </div>

    <p>Followed by:</p>
    <div>
        <th:block th:each="follower : ${user.followers}">
            <p th:text="${follower.username}">...</p>
        </th:block>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('submit', 'form.post-form', function (e) {
            e.preventDefault();

            $.ajax({
                url: $(e.target).attr('action'),
                type: 'post',
                data : null,
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    $(e.target).closest('div.post').replaceWith(response);
                    postForms.refresh();
                }
            });
        });
    });
</script>
</body>
</html>