<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <title th:text="${user.username}">...</title>
</head>
<body>
<div>
    <p th:text="${user.username}">...</p>
    <p th:text="${user.email}"></p>

    <form sec:authorize="isAuthenticated()" th:action="${action} == 'Follow' ? @{~/profiles/__${user.username}__/follow} : @{~/profiles/__${user.username}__/unfollow}" method="POST">
        <button type="submit" th:text="${action}">...</button>
    </form>

    <div>
        <th:block th:each="post : ${user.posts}">
            <div th:replace="fragments/common :: post(${post}, ${currentUser})"></div>
        </th:block>
    </div>

    <p>Followed by:</p>
    <div>
        <th:block th:each="follower : ${user.followers}">
            <p th:text="${follower.username}">...</p>
        </th:block>
    </div>
</div>
</body>
</html>